@media (max-width: 800px) {
    .logo {
        width: 55%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .titulo {
        font-size: 2.4rem;
    }

    main>img {
        display: none;
    }

    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .titulo-exp {
        font-size: 4.4rem;
    }

    .texto-experiencia {
        font-size: 1.25rem;
        text-align: justify;
    }

    .empresa::before {
        top: 13px;
        left: -2px;
    }

    .titulo {
        max-width: 100%;
    }

    .container-img {
        flex-wrap: wrap;
    }

    .div-projeto img {
        display: none;
    }

    .sobre-projeto h3 {
        font-size: 1.7rem;
    }

    .tec-usada span {
        padding: 8px 0px;
    }

    .social {
        display: flex;
        flex-direction: column;
    }

    .link2 {
        font-size: 0.99rem;
        width: 83%;
    }

    .projeto-social {
        gap: 20px;
    }

    .container-formacoes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .formacao {
        padding: 20px 30px;
    }

    .area-formacao {
        padding: 60px 30px;
    }

    .form-icon {
        display: none;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    section h1 {
        font-size: 3rem;
    }

    .div-svg {
        width: 40px;
        height: 25px;
        left: 80%;
        top: -10px;
    }

    .formacao::after {
        width: 40px;
        height: 25px;
        left: 80%;
        top: -10px;
    }

    .img-icon {
        display: block;
    }

    .situacao {
        padding-top: 10px;
    }

    .area-formacao::after {
        height: 65px;
        bottom: -35px;
    }

    .textofooter {
        text-align: center;
    }

    .footer-container {
        justify-items: center;
    }

}

@media (max-width: 400px) {
    .empresa::before {
        top: 13px;
        left: -2px;
        width: 7px;
    }
    
    nav>ul>li>a {
        font-size: 1.40rem;
        padding: 5px 15px;
    }

    .titulo {
        font-size: 2.2rem;
    }

    .titulo-exp {
        font-size: 4rem;
    }

    .tag-tec {
        font-size: 0.67rem;
    }

    .sobre-projeto h3 {
        font-size: 1.3rem;
        margin-bottom: 7px;
    }

    .tec-usada span {
        padding: 5px 15px;
        font-size: 0.88rem;
    }

    .participante {
        font-size: 0.88rem;
        margin-top: 10px;
    }

    .formacao {
        padding: 15px 20px;
    }
}